body {
    background-color: #000;
}

$size: 200px; // 大小

.container {
    width: $size;
    height: $size;
    border-radius: 50%;
    outline: none;
    margin: 0 auto;
}
.inner {
  img {
    width: $size;
    height: $size;
    border-radius: 50%;
  }
}